body{
    background:rgb(211, 238, 247)
}
h1{
    text-align: center;
    color: rgb(31, 218, 227);
    font-family:fantasy
}


p{
    font-family:fantasy;
}



img{
    width:650px;
}
li{
    color: orange;
    font-family:fantasy;
}

